
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    
}
/*shared styles*/
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color:#FD6E0A;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
    .section-title{
        font-size: 35px;
    font-weight: bold;
    color: #181818;
    }
    .secton-description{
        font-size: 18px;
        color: #757575;
    }
    .tex-center{
        text-align: center;

    }
/*nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
/*header cass*/
.header{
    background-image:url('../images/developer.png'),url(../images/header_bg.png) ;
    background-repeat:no-repeat ;
    background-position:top left,bottom right;
}
/*banner style*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width:580px ;
}
.banner-gretings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profilepictur{
    width: 580px;
}
/*main style*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
.about{
    border: 10px;
    padding: 130px 150px;
    text-align: center;
   

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
}
/*skill section style*/
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}